body{
	background: #777;
	height: 900px;
}

#main_content{
	background: #fff;
	width: 872px;
	height: 100%;
	margin: auto;
	padding: 10px 18px;
	position: relative;
	font-size: 9pt;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}

#main_content p{
	padding: 0;
}

#main_content a{
	color: #333;
	text-decoration: none;
}


#header{
	background: #979BA7;
	width: 872px;
	height: 276px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #777;
}

#headerImage{
	margin-left: 40px;
	margin-top: 12px;
	float:left;
	
}

.headerMenu{
	margin-left:75px;
	width: 410px;
	height: 271px;
	float:left;
}

.menuItem{
	width:408px;
	height:90px;
	padding-top:12px;
	
}

.menuItem .icon{
	float:left;
	width:36px;
	height:36px;
}

.menuItem .icon_silver{
	background-image:url('../images/headerIcon.jpg');
	background-repeat:no-repeat;
	width:36px;
	height:36px;
	cursor:pointer;
	float:left;
}

.menuItem .icon_gold{
	background-image:url('../images/headerIcon_over.jpg');
	background-repeat:no-repeat;
	width:36px;
	height:36px;
	cursor:pointer;
	float:left;
}

.menuItem .textDetail{
	float:left;
	width:325px;
	padding-left:15px;
}

.menuItem .textDetail .heading{
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #fff;
}

.menuItem .description{
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 10pt;
	color: #fff;
}

.gold{
	color: #F48A1A;	
}

.clearFloat{
	clear:both;
}

#wrapper {
	width: 872px;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	}
 
.accordionButton {	
	width: 835px;
	*width: 872px;
	float: left;
	background: #EDEAD9;
	border-bottom: 1px solid #777;
	cursor: pointer;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 9pt;
	font-weight: 900;
	color: #333;
	padding: 10px 20px 0 20px;
	vertical-align: middle;
	}
 
.accordionContent {	
	width: 835px;
	*width: 872px;
	float: left;
	background: #EDEAD9;
	padding: 5px 20px 0 20px;
	display: none;
	}
.noComicSans{
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 8pt;
	font-weight:normal;
	
}
	
/*body {
	font: Arial, Helvetica, sans-serif normal 10px;
	margin: 0; padding: 0;
}
* {margin: 0; padding: 0;}*/
img {border: none;}
.container {
	height: 425px;
	/*width: 910px;
	margin: -180px 0 0 -450px;
	top: 50%; left: 50%;
	position: absolute;*/
}
ul.thumb {
	float: left;
	list-style: none;
	margin: 0; padding: 10px;
	width: 425px;
}
ul.thumb li {
	margin: 0; padding: 5px;
	float: left;
	position: relative;
	width: 125px;
	height: 125px;
}
ul.thumb li img {
	width: 110px; height: 110px;
	/*border: 1px solid #ddd;*/
	padding: 7px;
	/*background: #fff;*/
	position: absolute;
	left: 0; top: 0;
	margin-top: 0; margin-left:0;
	-ms-interpolation-mode: bicubic; 
}
ul.thumb li img.hover {
	/*background:url(thumb_bg.png) no-repeat center center;*/
	border: 1px solid #ddd;
}
.main_view {
	float: left;
	padding: 9px 0;
	margin: 10px 0 0 -5px;
	background: #4E4737;
	width: 375px;
	height: 375px;
	/*margin-left: auto;
	margin-right: auto;*/
}

.main_view .centerImage{
	margin: 37px 37px;
	width: 280px;
	height: 280px;
}

.main_view .centerImage img{
	width: 280px; height: 280px;
	/*border: 1px solid #ddd;
		padding: 8px;
		background: #fff;*/
}

/* drop shadows */
.drop-shadow {
    position:relative;
    float:left;
    width:40%;    
    padding:1em; 
    margin:2em 10px 4em; 
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute; 
    z-index:-2;
}

.drop-shadow p {
    font-size:16px;
    font-weight:bold;
}

.curved:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
    box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
    border-radius:10px / 100px;
}

.curved-vt-2:before {
    right:0;
}

.curved-hz-1:before {
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.curved-hz-2:before {
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}